<div class="header-container">
  <div class="left">
    <div class="brand">
      <img class="brand-logo" src="favicon.png" alt="Logo Huileria" />
      <span>Huileria</span>
    </div>
  </div>

  <div class="right">
    <div class="search-shell" [class.active]="searchFocused || searchQuery.length > 0">
      <nb-icon icon="search-outline" class="search-ico"></nb-icon>
      <input class="global-search" type="search" [value]="searchQuery" (input)="searchQuery = $any($event.target).value"
        (focus)="onSearchFocus()" (blur)="onSearchBlur()" (keydown.enter)="onSearchEnter()"
        placeholder="Rechercher un module, un champ, une info..." aria-label="Recherche globale" />
      <button *ngIf="searchQuery" type="button" class="clear-search" (click)="clearSearch()"
        aria-label="Effacer la recherche">
        <nb-icon icon="close-outline"></nb-icon>
      </button>

      <div class="search-results" *ngIf="(searchFocused || searchQuery.length > 0) && filteredSearchItems.length > 0">
        <button type="button" class="search-result" *ngFor="let item of filteredSearchItems"
          (mousedown)="$event.preventDefault()" (click)="openSearchResult(item)">
          <nb-icon icon="search-outline"></nb-icon>
          <div class="result-copy">
            <span class="result-title">{{ item.label }}</span>
            <span class="result-description">{{ item.description }}</span>
          </div>
        </button>
      </div>
    </div>

    <nb-actions size="small">
      <nb-action icon="person-outline" (click)="goToProfile()"></nb-action>
    </nb-actions>
  </div>
</div>